# === Docker ===
.dockerignore
docker/
Dockerfile
docker-compose.yml
docker-compose.override.yml
docker-compose.local.yml

# === Volumes ===
logs/
uploads/
staticfiles/

# === Scripts ===
scripts/

# === Dev & CI/CD ===
.idea/
.vscode/

_data_migration_template.py
.github/
.pre-commit-config.yaml
pytest.ini
README.md
test_virus.txt

# === OS ===
*.log
*.pot
*.swo
*.swp
*.DS_Store
Thumbs.db

# === Git ===
.git
.gitignore
.gitattributes

# === Python ===
__pycache__
*.pyc
*.pyo
*.pyd

# === Environment ===
.env
.env.*
.venv
venv
env
ENV

# === Database ===
*.sqlite
*.sqlite3
*.db
*.dump
# Тестовая БД, если создавалась локально
test.db

# === Security certificates ===
*.key
*.pem

# === Testing / coverage reports ===
.pytest_cache
.pytest_cache/
.coverage
htmlcov
tests/
test.db

# === mypy ===
.mypy_cache/

# === Ruff ===
.ruff_cache/

# === Celery ===
celerybeat-schedule
*.pid

# === PDM ===
__pypackages__/
.pdm-build/
.pdm-python

# === Other ===
README.md
*.md