# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.python-version
dist/
build/
*.so
*.lib
*.dll

# === Environment ===
.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

# === Database ===
database/
*.sqlite
*.sqlite3
db.sqlite3-journal
*.db
*.dump

# === OS files ===
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === IDE ===
# PyCharm
.idea/
*.iml
*.ipr
*.iws
# VS Code (опционально)
.vscode/
# Sublime Text
*.sublime-project
*.sublime-workspace
# Atom
.atom/
# Eclipse
.project
.pydevproject

# === Testing / coverage reports ===
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# === Ruff ===
.ruff_cache/

# === mypy ===
.mypy_cache/
.dmypy.json
dmypy.json

# === Celery ===
celerybeat-schedule
*.pid

# === Docker ===
docker-compose.override.yml
docker-compose.local.yml
postgres_data/
redis_data/
clamav_data/
certs_data/
nginx_log_data/

# === Security certificates ===
*.key
*.pem
*.crt
*.csr

# === PDM ===
.pdm-build/
.pdm-python
.pdm.toml
__pypackages__/

# Django
/uploads/
/staticfiles/
/logs/

# === Others ===
/node_modules/
/docs/_build/
/site/