# ========================
# Development Dependencies
# ========================

# Включаем основные зависимости
-r requirements.txt

# Генерация тестовых данных
factory_boy==3.3.3
Faker==37.11.0

# Тестирование
# pytest

# Линтинг и форматирование
# ruff

# Статическая типизация
# mypy

# Аудит безопасности зависимостей
# pip-audit