# ========================
# Production Dependencies
# ========================

# Веб-фреймворк
Django==5.2.7
# Фильтрация
django-filter==25.2
# Объектные права доступа
django-guardian==3.2.0
# Стилизация форм
django-crispy-forms==2.4
crispy-bootstrap5==2025.6

# Веб-сервер
# gunicorn

# Кэширование
django-redis==6.0.0
redis==7.0.0

# Асинхронные задачи
celery==5.5.3

# Драйвер PostgreSQL
psycopg[binary]==3.2.12

# Переменные окружения
python-decouple==3.8

# Обработка изображений (для ImageField)
pillow==12.0.0

# Валидация и анализ телефонных номеров
phonenumberslite==9.0.17

# Интеграция антивирусного сканера (ClamAV)
django-clamd==1.0.0

# Мониторинг
sentry-sdk[django]==2.42.1
