# ========================
# Development Dependencies
# ========================

# Включаем основные зависимости
-r requirements.txt

# Генерация тестовых данных
factory_boy==3.3.3
Faker==37.11.0

# Тестирование
pytest==8.4.2
pytest-django==4.11.1

# Линтинг и форматирование
pre-commit==4.3.0
ruff==0.14.2

# Статическая типизация
mypy==1.18.2
django-stubs==5.2.7

# Аудит безопасности зависимостей
# pip-audit
