{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Услуги</h2>

<!-- ==================== ФОРМА ФИЛЬТРАЦИИ И СОРТИРОВКИ ==================== -->
<div class="row bg-white px-3 py-3 mx-2 my-3 rounded shadow-sm">
    <form method="get" class="row g-3 align-items-center">
        <!-- Фильтр по части названия или описания -->
        <div class="col-auto">
            {{ filter.form.name_or_description.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.name_or_description }}
        </div>

        <!-- Выпадающий список для сортировки -->
        <div class="col-auto">
            {{ filter.form.sort.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.sort }}
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Применить</button>
        </div>
    </form>
</div>
<!-- ======================================================== -->

<div class="row bg-white px-3 py-3 mx-2 my-5 rounded shadow-lg">

    <div class="hstack gap-3 pb-4">
        {% if perms.products.create_service %}
            <a href="{% url 'products:create' %}" class="btn btn-success p-2">Создать</a>
        {% endif %}
    </div>

    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        {% if perms.products.view_service %}
                            <a href="{% url 'products:detail' product.pk %}">{{ product.name }}</a>
                        {% else %}
                            {{ product.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ product.cost|floatformat:2 }} руб.
                    </td>
                    <td>
                        {% if perms.products.delete_service %}
                            <a href="{% url 'products:delete' product.pk %}" class="btn btn-danger">Удалить</a>
                        {% else %}
                            <p>У вас нет прав.</p>
                        {% endif %}
                    </td>
                    {% empty %}
                        <td colspan="3" class="text-center">Пока нет ни одной услуги.</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ==================== БЛОК ПАГИНАЦИИ ===================== -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Назад</a>
                </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Вперед</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- ======================================================== -->

</div>
{% endblock %}