{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Статистика рекламных кампаний</h2>

<!-- ==================== ФОРМА ФИЛЬТРАЦИИ И СОРТИРОВКИ ==================== -->
<div class="row bg-white px-3 py-3 mx-2 my-3 rounded shadow-sm">
    <form method="get" class="row g-3 align-items-center">
        <!-- Фильтр по каналу -->
        <div class="col-auto">
            {{ filter.form.channel.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.channel }}
        </div>

        <!-- Фильтр по услуге -->
        <div class="col-auto">
            {{ filter.form.service.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.service }}
        </div>

        <!-- Выпадающий список для сортировки -->
        <div class="col-auto">
            {{ filter.form.sort.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.sort }}
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Применить</button>
        </div>
    </form>
</div>
<!-- ======================================================================= -->

<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="hstack gap-3 pb-4">
        <a href="{% url 'ads:list' %}" class="btn btn-success p-2">К списку рекламных кампаний</a>
    </div>
    <div class="col">
        <ul class="list-group">
            {% for ad in ads %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">

                <!-- Проверяем, есть ли у текущего пользователя право на просмотр детальной информации -->
                {% if perms.advertisements.view_adcampaign %}
                    <!-- Если право есть, показываем кликабельную ссылку на детальную статистику каждой кампании -->
                    <a href="{% url 'ads:detail_statistic' ad.pk %}" class="text-decoration-none link-dark fw-bold">
                        {{ ad.name }}
                    </a>
                {% else %}
                    <!-- Если права нет, показываем просто текст (название кампании) -->
                    <span>{{ ad.name }}</span>
                {% endif %}

                <p>
                    Лидов: {{ ad.leads_count }} |
                    Активных клиентов: {{ ad.customers_count }} |
                    Соотношение контрактов к затратам: {{ ad.profit|floatformat:2|default:"-" }} %
                </p>
            </li>
            {% empty %}
                <li class="list-group-item">Пока нет статистики по рекламным кампаниям.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- ==================== БЛОК ПАГИНАЦИИ ===================== -->
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">
                        Назад
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Назад
                    </a>
                </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">
                    {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">
                        Вперед
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Вперед
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}
    <!-- ======================================================== -->

</div>
{% endblock %}