{% extends "_base.html" %}

{% load pagination_tags %}

{% block content %}
<h2 class="fw-bold">Рекламные кампании</h2>

<!-- ==================== ФОРМА ФИЛЬТРАЦИИ И СОРТИРОВКИ ==================== -->
<div class="row bg-white px-3 py-3 mx-2 my-3 rounded shadow-sm">
    <form method="get" class="row g-3 align-items-center">
        <!-- Фильтр по каналу -->
        <div class="col-auto">
            {{ filter.form.channel.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.channel }}
        </div>
        <!-- Фильтр по услуге -->
        <div class="col-auto">
            {{ filter.form.service.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.service }}
        </div>

        <!-- Выпадающий список для сортировки -->
        <div class="col-auto">
            {{ filter.form.sort.label_tag }}
        </div>
        <div class="col-auto">
            {{ filter.form.sort }}
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Применить</button>

            <!-- `request.path` - это текущий URL без GET-параметров (/ads/) -->
            <a href="{{ request.path }}" class="btn btn-secondary btn-sm">Сбросить</a>

        </div>
    </form>
</div>
<!-- ======================================================== -->

<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">

    <div class="hstack gap-3 pb-4">
        {% if perms.advertisements.add_adcampaign %}
            <a href="{% url 'ads:create' %}" class="btn btn-success p-2">Создать</a>
        {% endif %}

        <a href="/ads/statistic" class="btn btn-primary p-2">Статистика</a>
    </div>

    <div class="col">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Услуга</th>
                    <th>Бюджет</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in ads %}
                    <tr>
                        <td>
                            {% if perms.advertisements.view_adcampaign %}
                                <a href="{% url 'ads:detail' ad.pk %}">{{ ad.name }}</a>
                            {% else %}
                                {{ ad.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.products.view_service %}
                                <a href="{% url 'products:detail' ad.service.pk %}">{{ ad.service.name }}</a>
                            {% else %}
                                {{ ad.service.name }}
                            {% endif %}
                        </td>
                        <td>
                            {{ ad.budget|floatformat:2 }} руб.
                        </td>
                        <td>
                            {% if perms.advertisements.delete_adcampaign %}
                                <a href="{% url 'ads:delete' ad.pk %}" class="btn btn-danger">Удалить</a>
                            {% else %}
                                <p>У вас нет прав.</p>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Пока нет ни одной рекламной кампании.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ==================== БЛОК ПАГИНАЦИИ ===================== -->
    {% if is_paginated %}
        {% render_pagination page_obj %} <!-- Вызываем кастомный тег -->
    {% endif %}
    <!-- ======================================================== -->

</div>
{% endblock %}